body {
    background-color: #ffffb4;
    color: navy;
    padding: 10%;
    justify-content: center;
}

.navbar-container {
    padding: 5%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container ul {
    list-style-type: none;
    display: flex;
    gap:20px;
    padding: 0;
    margin: 0; 
}

.navbar-container li a {
    text-decoration: none;
} 

.headers {
  padding: 5%;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 2.5%;
    padding: 5%; 
    margin-bottom: 5%;
}

.about img {
    width: 80%;
    height: auto;
}

.about figure {
    width: 25%;
    height: auto;
}

.about p {
    width: 75%;
    height: auto;
}

.skills {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    gap: 7.5%;
    justify-content: center;
    width: 100%;
    height: auto;
}

.skills div {
    display: flex;
    flex-direction: row;
}

/* Slideshow */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
