body {
    background-color: #ffffb4;
    color: navy;
    padding: 5%;
    justify-content: center;
}

.navbar-container {
    padding-left: 5%; 
    padding-right: 5%; 
    /* position: fixed;
    top: 0;
    width: 100%;
    background-color: #333; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container ul {
    list-style-type: none;
    display: flex;
    gap:20px;
    padding: 0;
    margin: 0; 
}

.navbar-container li a {
    text-decoration: none;
} 

.headers {
  padding: 5%;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    gap: 2.5%;
    /* padding: 5%;  */
    margin-bottom: 5%;
}

.about img {
    width: 80%;
    height: auto;
}

.about figure {
    width: 25%;
    height: auto;
}

.about p {
    width: 50%;
    height: auto;
}

.skills {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    gap: 7.5%;
    justify-content: center;
    width: 100%;
    height: auto;
}

.skills div {
    display: flex;
    flex-direction: row;
}

.projects {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    gap: 2.5%;
    /* padding: 5%;  */
    margin-bottom: 5%;
}

.projects img {
    width: 80%;
    height: auto;
}

.projects figure {
    width: 50%;
    height: auto;
}

.projects p {
    width: 100%;
    height: auto;
}